td {
  padding: 0px 50px 20px 50px;
  text-align: center;
}

td:hover {background-color: #3282b8;}

table {
  margin-left: auto;
  margin-right: auto;
}

body {
  text-align: center;
  font-family: "avenir";
  background-color: #0f4c75;
  color: #bbe1fa;
}

h1 {
  font-family: "palatino";
  font-size: 3rem;
  color: #f6eec7;
  margin-bottom: 2%;
}

hr {
  height: 1px;
  background: #f6eec7;
  border: none;
  outline: none;
  margin: 3% 5% 4%;
}

.banner {
  /* color: #0f4c75; */
  color: black;
  text-align: center;
  margin: 3% 5% 0% 5%;
  font-style: italic;
  background-color: #bbe1fa;
  padding: 2%;
}

.banner-hr {
  margin-top: 0%;
}

img {
  border:4px solid black;
}

.state:hover {
  fill: yellow;
}

.me {
  fill: #bbe1fa;
}

svg {
  width: 80%;
}
